*{
	margin:0;
	padding:0;
}
body{
	overflow-x:hidden;
		

}
.backimg{
	background-image: url("needed_pictures/Black-with-Pattern-I.jpg");
	background-size: cover;
	width:100%;
	height:700px;
}
.backimg2{
	background-image: url("needed_pictures/2018-26-01-17-53-50.jpeg");
	background-size: cover;
	width:100%;
	height:700px;
}
.backimg3{
	background-image: url("needed_pictures/2018-27-01-11-33-26.jpeg");
	background-size: cover;
	width:100%;
	height:700px;
}
.navbar{
	position: fixed;
	box-shadow: 0px 0px 90px 2px black;
	top:0px;
	z-index: 50;
	width:100%;
	padding:20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navlinks{
	text-align: left;
}
.navlinklist{
	display:inline;
	padding:40px 40px;
}
.navlinklist a{
	position: relative;
	left: 30px;
	color:#b38f00;
	font-family:Garamond, Helvetica, sans-serif;
	font-size: 15px;
	text-decoration:none;
	transition:all 0.5s;

}
.navlinklist a:hover {
    color: blue;
    background-color: transparent;
   
}
.navlinklist a:active {
    color: white;
    background-color: transparent;
}
.dimage{
	margin-right: 100px;
	height:70px;
	transition:all 0.5s;
	border-radius: 50%;
}
.logo{
	position: fixed;
	top: 5px;
	left: 340px;
	z-index: 100;
	border-radius: 50%;
}
.dlogo{
	display:inline;
}
.overlay_homepic{
	background-color: black;
	opacity:0.4;
	width:100%;
	height:700px;
}
.fonts{
	position: relative;
	top: 140px;
	font-size: 80px;
	font-family:courier ;
	color: white;
}
.fonts2{
	position: relative;
	top: 160px;
	font-size: 20px;
	font-weight: 900;
	font-family:helvetica ;
	color: white;
}
footer{
 	position: absolute;
 	color: white;
 	text-align: center;
 	bottom: 0;
 	width: 100%;
 	padding: 3.5% 0;
 }
 .topic{
 	position: relative;
 	top: 130px;
 	left:80px;
	color:#b38f00;
	font-family:georgia, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration:none;
	transition:all 0.5s;
}
.topic2{
 	position: relative;
 	top: 200px;
 	left: 80px;
	color:#b38f00;
	font-family:georgia, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration:none;
	transition:all 0.5s;
}
.topic3{
 	position: relative;
 	top: 390px;
 	left: 80px;
	color:#b38f00;
	font-family:georgia, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration:none;
	transition:all 0.5s;
}
.topic4{
 	position: relative;
 	top: 130px;
 	left: 600px;
	color:#b38f00;
	font-family:georgia, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-decoration:none;
	transition:all 0.5s;
}
.down{
 	position: relative;
 	top: 40px;
 	left: 80px;
	color:white;
	font-family:Garamond, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration:none;
	transition:all 0.5s;
}
.down2{
 	position: relative;
 	top: 120px;
 	left: 80px;
	color:white;
	font-family:Garamond, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration:none;
	transition:all 0.5s;
}
.down3{
 	position: relative;
 	top: 200px;
 	left: 80px;
	color:white;
	font-family:Garamond, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration:none;
	transition:all 0.5s;
}
.down4{
 	position: relative;
    bottom: 75px;
 	left: 600px;
	color:white;
	font-family:Garamond, Helvetica, sans-serif;
	font-size: 20px;
	text-decoration:none;
	transition:all 0.5s;
}
.contact{
	position: relative;
	color: white;
	font-family: courier;
	top:100px;
	text-align: center;
	font-size: 50px;
}
input[type=text], select{
	width:50%;
	padding: 15px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing:border-box;
}
input[type=email],select{
	width:50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid black;
	border-radius: 4px;
	box-sizing:border-box;
}
input[type=submit]{
    width: 35%;
    background-color: #b38f00;
    color: black;
    padding: 14px 20px;
    margin: 8px 50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: white;
}
.forms {
	position: relative;
	bottom: 198px;
	left: 150px;
	width: 50%;
    border-radius: 40px;
    background-color: transparent;
    padding: 20px;
}
.loclog{
	position: relative;
	top: 158px;
	left: 700px;
	background-color: transparent;
	height: 48px;
}
.phlog{
	position: relative;
	top: 300px;
	left: 650px;
	background-color: transparent;
	height: 42px;
}
.meslog{
	position: relative;
	top: 415px;
	left: 600px;
	background-color: transparent;
	height: 45px;
}
.location{
	position: relative;
	top: 110px;
	left: 840px;
	color: white;

}